@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To</h1>
    <h3>Pizza Portal</h3>
    <p>Enjoy Delicious Pizzas!!!!</p>
    <a asp-controller="Pizza" asp-action="Index" class="btn btn-outline-success">Start ordering...</a>
</div>
